:root {
  --xxs: 0.5rem;
  --xs: 1rem;
  --s: 1.5rem;
  --m: 1rem;
  --l: 2.5rem;
  --xl: 3rem;
}


/* font setup on load of page*/
@font-face {
  font-family: 'gameFont';
  src: url('../assets/fonts/kenvector_future-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Clears default padding and margins*/
* {
  padding: 0;
  margin: 0;
}

/* 
Adds font family and backing image
set up page layout and structure 
*/
body {
  color: white;
  font-family: 'gameFont';
  background-image: url('../assets/ui/black.png');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*heading layout and structure*/
h1 {
  margin: 1.5rem 0 0 0;
  height: fit-content;
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
}

/*canvas container layout and structure*/
#game-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: var(--xxs) 0 var(--xl) 0;
  height: calc(90% - (var(--xl) + var(--xxs)));
  width: 95%;
}

/* Adds border around canvas*/
canvas {
  border: 2px solid #E86A17;
  border-radius: 12px;
}

@media (min-width: 450px) {
  #game-container {
    height: calc(90% - (5rem + var(--xxs)));
    margin: 0.5rem 0 5rem 0;
  }
}