/* Clears default padding and margins*/
* {
  padding: 0;
  margin: 0;
}

/* 
Adds font family and backing image
set up page layout and structure 
*/
body {
  font-family: 'KenVector Future';
  background-image: url('../assets/ui/black.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

/* Adds border around canvas*/
canvas {
  border: 2px solid #E86A17;
  border-radius: 12px;
}