* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'KenVector Future';
  background-image: url('/Application/assets/ui/black.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

.earth {
  position: absolute;
  top: 50px;
  width: 300px;
  z-index: -999;
  aspect-ratio: 1/1;
  animation: planetRotate 200s linear forwards infinite;
}

canvas {
  border: 2px solid #E86A17;
  border-radius: 12px;
}

@keyframes planetRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}